

:root {
    --primary-bgcolor: yellow;
    --secondary-bgcolor: red;
    --color-th: aliceblue;
    --border-radius: 50px;
    --width-body: 200px;
    --height-body: 200px;
    --width-ball: 150px;
    --height-ball: 150px;

}


body {
    background-color: var(--primary-bgcolor) ;
    width: var(--width-body);
    height: var(--height-body);
}

.ball {
    width: var(--width-ball);
    height: var(--height-ball);
    background-color: var(--secondary-bgcolor);
    border-radius: var(--border-radius);
    font-size: 30px;
    color: var(--color-th);
}
