* {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
}

.Card {
    display: flex;
    flex: column;
    justify-content: center;
    border-radius: 30%;
    
}

.NameDate .Name {
    color: black;
    size: 10px;
}

.NameDate .Date {
    color: white;
}

.PhotoOne img{
    display: flex;
    flex-grow: 1;
    width: 375px ;
    height: 350px;
    background-color: yellow;
}
.Card .Card1 {
    background-color: rgb(210, 210, 217);
    width: 375px ;
    border-radius: 18px;
    margin: 30px 30px;
}

.Card .Card2 {
    background-color: rgb(210, 210, 217);
    width: 375px ;
    border-radius: 18px;
    margin: 30px 30px;
}

.Card .Card3 {
    background-color: rgb(210, 210, 217);
    width: 375px ;
    border-radius: 18px;
    margin: 30px 30px;
}

.Title {
    display: flex;
    flex-grow: row;
    background-color:gray;
    color: black;
    align-items: center;
    position: initial;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    justify-content: space-between;
}

.Title .AvatarName {
    display: flex;
    flex-grow: row;
    align-items: center;
}

.Title .Avatar {
    height: 50px;
    width: 50px;
    border-radius: 360%;
    margin: 6px;
    background-color: white;
    

}

.Description {
    margin: 0;
    
    height: auto;
    width: auto;
    margin-bottom: 50px;
    margin:0 5px 5px ;
    padding-bottom: 10px;
    

}

.Title .Hamburger {
    display: flex;
    -ms-flex-align: end;  
    align-items: flex-end;
    margin-right: 12px;
}


.Interaction {
    margin: 12px 10px 5px;
    display: flex;
    flex-grow: row;
}



@media (max-width: 768px) {
    .Card {
        display: grid;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        grid-template-columns: 2;
        grid-template-areas: 
        "card1 card2"
        "card3 .";
        }

    #card1 {
        grid-area: card1;
    }

    #card2 {
        grid-area: card2;
    }

    #card3 {
        grid-area: card3;
    }
    
}

@media (max-width: 375px) {
    .Card {
        display: flex;
        flex-direction: column;
        gap: 30px;
        
    }
}